@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


// variables can be declared and later reused
$revature-orange: #f26925;
// $dark-gray-background: #ffffff;

// mixins are reusable styles that can be included in other places
@mixin flex-col {
  display: flex;
  flex-direction: column;
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#main-content-container {
  height: 100%;
  width: 100%;
  align-items: center
}

#root{
  height: 100%;
  
}

.search-result-table {
background-color: white;
}


#gray-banner{
  width: 100%;
  height: 30%;
  background-color: rgb(83, 83, 83)



}

#register-alert {
  margin-top: 1em;
}

#error-message{
  margin: auto;
  margin-top: 1em;
  color:red;
}


#line{
  position: relative;
  top: 65%;
  border-top: 1px solid #8c8b8b;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
#register-form-button{
  width: 25%;
  margin: auto;
  margin-top: 1em;
}

#line-register{
  position: relative;
  top: 65%;
  border-top: 1px solid #8c8b8b;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  
}

#copyright-tag{
  position: fixed;
  bottom: 0;
  right: 0;
  color: #ffffff;
  margin-right: 20px;
}

#sign-in-container{
  @include flex-col;
  width: 100%;
  height: 100%;
  
  background: url(./assets/place-holder.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-size: cover;
  align-items: center;
}



#signin-form-container{
  @include flex-col;
  width: 100%;
  height: 70%;
  align-items: center
}

#gray-banner-register{
  vertical-align: bottom;
  width: 100%;
  height: 30%;
  background-color: rgb(83, 83, 83)
 }

#signin-form{
  margin-top: 20px;
}

#name-banner{
  color: rgb(185, 185, 185);
  margin-top: 1.5em;
}

#login-banner{
  margin-top: .4em;
  color: rgb(216, 216, 216);

}
#register-form {
  height: 70%;
  width: 64%;
}

#login-banner-register{
  margin-top: .4em;
  color:white;
}

.register-label {
  color:#a1a4a7;
}

.forget-password-label {
  font-size: 75%;
  color:#6c6d6f;

}

.forget-password-header {
  font-size: 60%;
  color:#6c6d6f;
}

#rest-pass-button {
 float: right;
}

.search-result-label {
  color:#6c6d6f;
}

#inputUsername{
  margin-bottom: 10px
}


#sign-in-button{
  margin-bottom: 10px
}

#forgot-password{
  color: #a1a4a7;
  
}

.clickable{
  cursor: pointer;
}

.rev-btn {
  background-color: $revature-orange;
  border-color: $revature-orange;
  color: black;
  &:hover {
    background-color: white;
    border-color: $revature-orange;
    color: $revature-orange;
  }
  &:active {
    background-color: $revature-orange;
    color: black;
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
}

#login-banner{
  text-align: center;
}



/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}

.border-col-right {
  border-right: 1px solid #ccc;
}

.px-75{
  padding-right: .75rem!important;
  padding-left: .75rem!important
}

.mr-5-sm{
  margin-right: calc(3em - 15px);
}

.clickable{
  cursor: pointer;
}

.red {
  color: red;
}
/*****************************
 Skill Group in Dashboard
*****************************/
.skillgroup-cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;   
  
}
.skillgroup-skill-card {
  height: 65%;
}
.skillgroup-skill-card-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}
.skill-card-num-associates {
  font-weight: bold;
  font-size: 2em;
  margin-top: 15%;
  margin-right: 4%;
  margin-left: 3%;
}
.skill-card-name {
  text-align: left;
  // font-weight: bold;
  font-size: 0.7em;
  color: #7C7A7A;
  margin-top: 15%;
  margin-right: 15%;
  margin-left: 3%;
}

/*****************************
 three cards in Dashboard
*****************************/

.project-number-card {
  font-weight: bold;
  font-size: 35px;
  color:#36A2EB;
  margin-top:24px;
  margin-left:10px;

}
.project-name-card {
  font-weight:bold;
  font-size:1em;
  margin-top:8%;
  margin-left:2%;
}
.three-card-icons{
  margin-top:8%;
}
.three-card-footer{
  text-align: left;
}
.three-card-button-col{
  text-align: center;
  margin-top:40px;

}
.three-card-button{
  width: 100%;
  height:60%;
}


/*****************************
  PROJECT CARDS
*****************************/

.project-card-link{
  text-align: right;
  text-decoration: underline;
}

.project-card-li-gray{
  background-color: lightgray;
  display: block;
  border: 0 none;
}

.project-card-li-white{
  background-color: white;
  border: 0 none;
}
.project-name-card {
  font-weight:bold;
  font-size: 13px;
  margin-top:30px;
  margin-left:24px;
}

/*****************************
  PROJECT CARDS
*****************************/
.project-card-link {
  text-align: right;
  text-decoration: underline; }

.project-card-li-gray {
  background-color: lightgray;
  display: block;
  border: 0 none; }

.project-card-li-white {
  background-color: white;
  border: 0 none; }

.project-card-list {
  display: flex;
  width: 100%; }

.project-card-header {
  background-color: white;
  font-weight: bold; }

.project-card-resource-id {
  font-weight: bold;
  padding-right: 10%; }

#add-skills .same-size-col{
  min-width: 336px;
}

@media (min-width: 1200px){
  #add-skills .same-size-col{
    min-width: 540px;
    max-width: 540px;
  }
}
